.defaultColor {
	color: #d43288;
}
.dash {
	/* border: 1px solid black; */
	width: 40px;
	height: 5px;
	background-color: grey;
}
.blur_btn {
	background: linear-gradient(148.17deg, #fbebf3 9.62%, rgba(251, 235, 243, 0) 80.85%);
}
